{{#section 'title'}}
	Sửa  sản phẩm
{{/section}}


<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Cập nhật thành công.
</div>
<a class="btn btn-large btn-block btn-primary" href="/account/profile/{{layoutVM.curUser.f_ID}}" role="button" style="background-color: #286090">
	<span class="glyphicon glyphicon-share-alt"></span>
	Quay lại
</a>
