<!DOCTYPE html>
<html>

<head>
	<title>Shopping Site</title>
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/list.css">{{{_sections.css}}}
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/">
					<img src="/imgs/Book-online.jpe" alt="">
				</a>
			</div>
			<div class="col-md-7">
				<div class="col-md-3">
					<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
					<div class="info">
						<p>Hotline</p>
						<p>1900-0000</p>
					</div>
				</div>
				<div class="col-md-4">
					<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
					<div class="info">
						<p>Miễn phí giao hàng</p>
						<div class="slogan">
							Tận nơi -Toàn quốc
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
					<div class="info1">
						<p>60 000 tựa sách</p>
						<div class="slogan">
							Cập nhật hàng ngày
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="login">
					{{#if layoutVM.isLogged}}
					<form id="frmLogout" method="post" action="/account/logout"></form>
					<li style="margin-top: -45px;">
						<a href="/cart">Giỏ hàng</a>
					</li>
					<li class="dropdown" style="margin-top: -12px;">
						<a href="/cart" class="dropdown-toggle" data-toggle="dropdown" name='logged'>{{layoutVM.curUser.f_Name}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/account/profile/{{layoutVM.curUser.f_ID}}">Profile</a>
							</li>
							<li>
								<a id="lnkLogout" href="javascript:;">Logout</a>
							</li>
						</ul>
					</li>
					{{else}}
					<a href="/account/login">Đăng nhập</a>
					-
					<a href="/account/register">Đăng kí</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	<div class="web-body">
		<div class="categories">
			<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-6">
					<div class="top-search">
						<form action="/product/search" name="search_form" id="search-form-header" method="get" class="cm-processed-form">
							<input type="text" name="keyword" value="" id="search_input" title="" class="search-input header-search-input">
							<button title="Tìm sách" class="search-magnifier btn" type="submit">Tìm kiếm</button>
						</form>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="panel-body1">
				<div class="container">
					<div class="col-md-3" style="margin-left: -25px;">
						<div class="list-categories">
							<div class="title-list-categories">Danh mục</div>
							<ul class="list-caretories-1">
								<li>
									{{#if layoutVM.isLogged1}}
									<a href="/category">
										<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
										<span style="font-weight: bold; font-size: 16px;">Quản lý</span>
									</a>
									{{else}}
									{{/if}}
								</li>
								<li>
									<a href="">
										<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
										<span style="font-weight: bold; font-size: 16px;">Thể loại</span>
									</a>
									<ul class="sub-list-categories">
										{{#each layoutVM.categories1}}
										<li>
											<a href="/product/byKind/{{KID}}">{{KindName}}</a>
										</li>
										{{/each}}
									</ul>
								</li>
								<li class="list-caretories-title-2">
									<a href="">
										<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
										<span style="font-weight: bold; font-size: 16px;">NXB</span>
									</a>
									<ul class="sub-list-categories">
										{{#each layoutVM.categories1}}
										<li>
											<a href="/product/byCat/{{NXBID}}">{{NXBName}}</a>
										</li>
										{{/each}}
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="panel-heading">
							{{{_sections.title}}}
						</div>
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="web-footer-1">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="col-md-8">
						<div class="image-logo-footer">
							<img src="/imgs/Book-online.jpe" alt="">
						</div>
						<div class="title-footer">
							<span style="color: white">BookOnline</span> là trang website chuyên bán tất cả các loại sách hành đầu Việt Nam
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="title-footer-1">
						Về chúng tôi
					</div>
					<div class="menu-footer">
						<ul class="list-group-1">
							<li class="list-group-item-2">
								<a href="" class="list-group-item-1">Trang chủ</a>
							</li>
							<li class="list-group-item-2">
								<a href="" class="list-group-item-1">Giới thiệu</a>
							</li>
							<li class="list-group-item-2">
								<a href="" class="list-group-item-1">Tin tức</a>
							</li>
							<li class="list-group-item-2">
								<a href="" class="list-group-item-1">Hướng dẫn</a>
							</li>
							<li class="list-group-item-2">
								<a href="" class="list-group-item-1">Chính sách & điều khoản</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="folow">
						<div class="title-footer-2">
							Liên hệ với chúng tôi
						</div>
						<div class="image-folow">
							<a href="">
								<img src="/imgs/facebook.png" alt="">
							</a>
							<a href="">
								<img src="/imgs/twitter.png" alt="">
							</a>
							<a href="">
								<img src="/imgs/youtube.png" alt="">
							</a>
							<a href="">
								<img src="/imgs/google.png" alt="">
							</a>
							<a href="">
								<img src="/images/tumblr.png" alt="">
							</a>
						</div>
						<div class="app-folow">
							<a href="">
								<img src="/imgs/android.png" alt="">
							</a>
							<a href="">
								<img src="/imgs/appstore.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="web-footer-2">
		<div class="container">
			<div class="copyright-text">
				Nhóm 40 - Phát triển ứng dụng web
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('#lnkLogout').on('click', function () {
			$('#frmLogout').submit();
		});
	</script> {{{_sections.js}}}
</body>

</html>