{{#section 'title'}}
	Thêm sản phẩm
{{/section}}

{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Thêm thành công.
</div>
{{/if}}

{{#if layoutVM.isLogged1}}
<form action="" enctype="multipart/form-data" method="POST" role="form" class="form-manager" >
	<div class="form-group">
		<label for="">Tên sách</label>
		<input type="text" class="form-control" id="" name="ProName" placeholder="Tên sách">
	</div>

	<div class="form-group">
		<label for="">Nhà xuất bản</label>
		<input type="text" class="form-control" id="" name="ProNXB" placeholder="không">
	</div>

	<div class="form-group">
		<label for="">Thể loại</label>
		<input type="text" class="form-control" id="" name="ProKind" placeholder="không">
	</div>

	<div class="form-group">
		<label for="">Giá</label>
		<input type="text" class="form-control" id="" name="Price" placeholder="không">
	</div>

	<div class="form-group">
		<label for="">Số lượng</label>
		<input type="text" class="form-control" id="" name="Quantity" placeholder="không">
	</div>

	<div class="form-group">
		<label for="">Mô tả</label>
		<input type="text" class="form-control" id="" name="TinyDes" placeholder="không">
	</div>

	<div class="form-group" style="margin-bottom: 2px; margin-top: 20px;">
		<label for="">Mô tả chi tiết</label>
	</div>
	<textarea name="FullDes" rows="10" cols="100" class="form-control" placeholder="Mô tả chi tiết"></textarea>

	<div class="form-group">
		<label for="">Hình ảnh mô tả</label>
		<input type="file" name="photo" />
	</div>

	<a class="btn btn-default view" href="/category/list" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View list
	</a>
	<button type="submit" class="btn btn-default save">
		<span class="glyphicon glyphicon-check"></span>
		Save
	</button>
</form>

{{else}}
	<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Thông báo!</strong> Bạn không có quyên truy cập
</div>
{{/if}}

