{{#section 'title'}}
	TEST
{{/section}}
<h1>1231</h1>

<form action="/category/add1" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="photo" />
   <input type="submit" value="Upload Photo"/>
</form>

<form action="" method="POST" role="form" class="form-manager">
	<div class="form-group">
		<label for="">Tên sách</label>
		<input type="text" class="form-control" id="" name="ProName" placeholder="Tên sách">
	</div>


