{{#section 'title'}}
	Trang chủ
{{/section}}


Sinh viên tự thực hiện.

 <form class="fileupload" action="/home/upload" method="post" enctype="multipart/form-data">
      <h1>Upload File Here</h1>
      <input type="file" name="upfile" value="">
      <input type="submit" />
    </form>