{{#section 'title'}}
	Sửa  sản phẩm
{{/section}}
<form action="" method="POST" role="form" class="form-manager">
	<input type="hidden" id="" name="ProID1" value="{{ProID1}}">	
	<button type="submit" class="btn btn-danger remove">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>